<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" (click)="home()">Home</a>
    <a class="nav-item nav-link" (click)="doctorScheduler()" *ngIf="currentUser.role=='DOCTOR'">Generate visits</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
      <div class="">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    <span>Doctor Office app</span>
  </p>s
</div>
